<h3><%= gettext "Group" %> <%= @group %></h3>

<h4><%= gettext "Storage" %></h4>
<%= render Portal.StorageView, "table.html", conn: @conn, group: @group, groups: nil, storage: @storage, links: nil %>

<h4><%= gettext "Recent Jobs" %></h4>
<%= if @conn.assigns[:jobs] do %>
<%= render Portal.JobView, "_jobs.html", conn: @conn, jobs: @jobs, locale: get_locale(@conn) %>
<% end %>

<p>
<a href="<%= job_path @conn, :index, group: @group %>"><%= gettext "More..." %></a>
</p>

