<h3><%= gettext "Group" %> <%= @group %> / <%= @filesystem %></h3>
<table class="table table-hover sortable">
<thead>
<tr>
<th class="sortable"><%= gettext "Username" %></th>
<th class="sortable" data-sort-as="num" data-sort-by="data-sort"><%= gettext "Space used" %></th>
<th class="sortable" data-sort-as="num" data-sort-by="data-sort"><%= gettext "Number of files" %></th>
</tr>
<tbody>
<%= for {user,usage} <- @users do %>
  <tr>
  <td><%= user %></td>
  <td data-sort="<%= usage[:space] %>"><%= nicekbytes usage[:space] %></td>
  <td data-sort="<%= usage[:files] %>"><%= nicemetric usage[:files] %></td>
  </tr>
<% end %>
</tbody>
</table>

<script>
function setClass(bool, el, classname) {
  (bool) ? el.addClass(classname) : el.removeClass(classname);
}

function sortbycol(table, icol, getter) {
  var cols = $(table).find('thead > tr > th > span');
  var col = cols.eq(icol);
  col.toggleClass('sort-desc');
  var desc = col.hasClass('sort-desc');

  cols.each(function(idx,th) {
    if (idx == icol) {
      $(th).removeClass('glyphicon-sort');
      setClass(!desc, $(th), 'glyphicon-arrow-down');
      setClass(desc, $(th), 'glyphicon-arrow-up');
    } else {
      $(th).addClass('glyphicon-sort')
        .removeClass('glyphicon-arrow-down')
        .removeClass('glyphicon-arrow-up')
        .removeClass('sort-desc');
    }
  });

  var rows = $(table).find('tbody > tr');
  var dir = (desc) ? 1 : -1;
  rows.sort(function(a,b) {
    var a = getter($(a).children('td').eq(icol));
    var b = getter($(b).children('td').eq(icol));
    return (a < b) ? dir : (a > b) ? -dir : 0;
  });
  rows.each(function(i,tr) {
    $(table).children('tbody').append(tr);
  });
}

function sortabletable(table) {
  var callbacks = [];
  $(table).find('th.sortable').each(function(i,e) {
    var getter = function(e) { return e.text(); };
    if ($(e).is('[data-sort-by]')) {
      var attrname = $(e).attr('data-sort-by');
      getter = function(e) { return $(e).attr(attrname); };
    }
    if ($(e).is('[data-sort-as]')) {
      var attr = $(e).attr('data-sort-as');
      if (attr == 'num') {
        var oldgetter = getter;
        getter = function(e) { return Number(oldgetter(e)); };
      }
    }
    callback = function() { sortbycol(table,i,getter); };
    callbacks.push(callback);
    $(e).append($(document.createElement('span'))
      .addClass('sort-icon glyphicon glyphicon-sort')
      .click(callback)
    );
  });
  return callbacks;
}

$(document).ready(function() {
  $('table.sortable').each(function(i,e) { sortabletable(e)[1](); })
});
</script>
