<%= if @groups do %>
<div class="btn-group" style="margin-bottom:1em">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= if @group do %>
    <%= gettext "Group" %> <%= @group %>
    <% else %>
    <%= gettext "My files" %>
    <% end %>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="<%= storage_path @conn, :index %>"><%= gettext "My files" %></a></li>
    <%= for group <- @groups do %>
    <li><a href="<%= storage_path @conn, :show, group %>"><%= gettext "Group" %> <%= group %></a></li>
    <% end %>
  </ul>
</div>
<% end %>

<table class="table table-hover">
  <col class="col-xs-2">
  <colgroup span="3">
    <col class="col-md-1">
    <col class="col-sm-3">
    <col class="col-md-1">
  </colgroup>
  <colgroup span="3">
    <col class="col-md-1">
    <col class="col-sm-3">
    <col class="col-md-1">
  </colgroup>
  <thead>
    <th><%= gettext "Filesystem" %></th>
    <th colspan="2"><%= gettext "Space used" %></th>
    <th><%= gettext "quota" %></th>
    <th colspan="2"><%= gettext "Number of files" %></th>
    <th><%= gettext "quota" %></th>
  </thead>
  <tbody>
    <%= for {k,v} <- @storage do %>
    <tr>
      <td>
      <%= if @links && @links[k] do %>
        <a href="<%= @links[k] %>"><%= k %></a>
      <% else %>
        <%= k %>
      <% end %>
      </td>
      <td class="text-right"><%= nicekbytes v[:space] %></td>
      <td><%= progressbar v[:space], v[:space_quota] %></td>
      <td><%= nicequota2 v[:space_quota] %></td>
      <td class="text-right"><%= nicemetric v[:files] %></td>
      <td><%= progressbar v[:files], v[:file_quota] %></td>
      <td><%= nicequota10 v[:file_quota] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
