
body {
    padding-top: 70px;
}

h4 {
    margin-top: 2em;
}

h5 {
    font-size: 16px;
}

pre {
    border: none;
}
pre > hr {
    border-color: #ddd;
    border-style: dashed;
    margin: 10px 0;
}

/* fix missing details arrow on chrome */
summary {
    display: list-item;
}

table {
    border: 1px solid #ddd;
}

thead {
    background: #f8f8f8;
    color: #777;
    font-size: smaller;
}

th {
    font-weight: normal;
}
.table thead > tr > th {
    border-width: 1px;
}

td > .progress {
    margin: 0;
}

.sort-icon {
    padding-left: 0.5em;
}

.progress-val-outer {
    font-size: 12px;
    margin-left: 0.5em;
}

.logo {
    font-weight: 700;
}

/* Phoenix flash messages */
.alert:empty { display: none; }
.alert-danger { font-weight: bold; }

.job-id {
    width: 8em;
}
.job-date {
    width: 9em;
}
.job-user {
    width: 7em;
}
.job-account {
    width: 9em;
}
.job-name {
    font-weight: bold;
}
.job-status, .job-nodes {
    width: 3em;
    text-align: right;
}
.job-walltime {
    width: 7em;
    text-align: right;
}

.gauge {
    padding: 24px;
    text-align: center;
}
.gauge-val {
    font-size: 36px;
}
.gauge-val small {
    color: #777;
    font-size: 18px;
}
.gauge-caption {
    font-style: italic;
}

/* d3/svg plots */

.axis line, .axis path {
    fill: none;
    stroke: #000;
}

text {
    font: 12px sans-serif;
}

.plot-annotations line {
    fill: none;
    stroke: #ccc;
    stroke-dasharray: 2 2;
}

.plot-annotations text {
    fill: #ccc;
    font: italic 10px sans-serif;
}
