<table class="table table-hover">
<thead>
<tr>
<th><%= gettext "ID" %></th>
<th><%= gettext "Updated" %></th>
<th><%= gettext "Username" %></th>
<th><%= gettext "Allocation" %></th>
<th><%= gettext "Name" %></th>
<th class="job-nodes"><%= gettext "Nodes" %></th>
<th class="job-walltime"><%= gettext "Walltime" %></th>
<th class="job-status"><%= gettext "State" %></th>
</tr>
</thead>
<tbody>
<%= for job <- @jobs do %>
  <tr>
  <td class="job-id">
  <a href="<%= job_path @conn, :show, job.jobid %>"><%= job.jobid %></a>
  </td>
  <td class="job-date" title="<%= job.endtime %>">
  <%= job.endtime %>
  </td>
  <td class="job-user">
  <%= job.username %>
  </td>
  <td class="job-account">
  <%= job.account %>
  </td>
  <td class="job-name">
  <%= add_underscore_breaks job.jobname %>
  </td>
  <td class="job-nodes">
  <%= job.nnodes %>
  </td>
  <td class="job-walltime">
  <%= job.elapsed %>
  </td>
  <td class="job-status">
  <%= job.state %>
  </td>
  </tr>
<% end %>
</tbody>
</table>

<%= render Portal.SharedView, "dayjs.html", locale: @conn.assigns[:locale] %>
<script>
$(document).ready(function() {
  var els = document.getElementsByClassName('job-date');
  var update = function() {
    for (var i = 0; i < els.length; i++) {
      var el = els[i];
      el.textContent = dayjs.tz(el.getAttribute('title'), 'America/Toronto').fromNow();
    }
  };
  update();
  window.setInterval(update, 200000);
});
</script>
