<% q = @conn.query_params["q"] %>

<div class="row">
<h3 class="col-sm-6" >Niagara</h3>
<form class="col-sm-6" action="<%= job_path @conn, :index %>">
<div class="form-group">
<div class="input-group">
<% attrs = [type: "search", name: "q", class: "form-control",
            placeholder: gettext("Search for...")] %>
<%= tag :input, (if q, do: [value: q] ++ attrs, else: attrs) %>
<span class="input-group-btn">
<button class="btn btn-default" type="submit"><%= gettext "Search" %></button>
</span>
</div><!-- input-group -->
</div><!-- form-group -->
</form>
</div>

<%= if @conn.assigns[:jobs] do %>
<%= render "_jobs.html", conn: @conn, jobs: @jobs, locale: get_locale(@conn)  %>

<% pagemin = max(1, @page - 2) %>
<% pagemax = pagemin + 4 %>

<nav class="text-center">
<ul class="pagination">
<% previous = gettext "Previous" %>
<% next = gettext "Next" %>
<%= if @page == 1 do %>
  <li class="disabled">
  <span><span aria-hidden="true"><%= previous %></span></span>
  </li>
<% else %>
  <li>
  <a href="<%= job_index_page_path @conn, @page - 1 %>" aria-label="<%= previous %>">
  <span aria-hidden="true"><%= previous %></span>
  </a>
  </li>
<% end %>
<%= for i <- pagemin..pagemax do %>
  <%= if i == @page do %>
    <li class="active">
    <span><%= i %> <span class="sr-only">(current)</span></span>
    </li>
  <% else %>
    <li><a href="<%= job_index_page_path @conn, i %>"><%= i %></a></li>
  <% end %>
<% end %>
<li>
<a href="<%= job_index_page_path @conn, @page + 1 %>" aria-label="<%= next %>">
<span aria-hidden="true"><%= next %></span>
</a>
</li>
</ul>
</nav>
<% end %>

