<h3><%= gettext "Job %{id}", id: @job.jobid %>: <%= add_underscore_breaks @job.jobname %></h3>

<dl class="dl-horizontal">
<dt><%= gettext "State" %></dt><dd><%= @job.state %></dd>
<dt><%= gettext "Working directory" %></dt><dd><%= @job.workdir %></dd>
<dt><%= gettext "Nodes" %></dt><dd><%= @job.nnodes %></dd>

<%= if @job.state != "RUNNING" do %>
<dt><%= gettext "CPU used" %></dt><dd><%= cpu_used(@job) %></dd>
<dt title="<%= gettext "Maximum memory used on a single node" %>"><%= gettext "Memory used" %></dt>
<dd><%= pretty_mem(@job.maxrss) %></dd>
<dt title="<%= gettext "Maximum memory requested on a single node" %>"><%= gettext "Memory requested" %></dt>
<dd><%= pretty_mem(@job.maxvmsize) %></dd>
<% end %>
</dl>

<details>
<summary><%= gettext "More..." %></summary>
<dl class="dl-horizontal">
<dt>Partition / QOS</dt><dd><%= @job.partition %> / <%= @job.qos %></dd>
<dt>Alloctres</dt><dd><%= @job.alloctres %></dd>
<dt>Nodelist</dt><dd><%= @job.nodelist %></dd>
<dt>Submitted</dt><dd><%= @job.submit %></dd>
<dt>Started</dt><dd><%= @job.start %></dd>
<dt>Ended</dt><dd><%= @job.endtime %></dd>
<dt>Walltime</dt><dd><%= @job.elapsed %></dd>
<dt>Timelimit</dt><dd><%= @job.timelimit %></dd>
<dt title="time spent waiting in the queue">Queue time</dt>
<dd><%= pretty_interval_comparison timediff(@job.start,@job.submit), timediff(@job.endtime,@job.submit) %></dd>
<dt>Run time</dt>
<dd><%= pretty_interval_comparison timediff(@job.endtime,@job.start), timediff(@job.endtime,@job.submit) %></dd>

<%= if @job.state != "RUNNING" do %>
<dt>TotalCPU</dt><dd><%= @job.totalcpu%>
<dt>SystemCPU</dt><dd><%= @job.systemcpu%>
<dt>UserCPU</dt><dd><%= @job.usercpu%>
<dt>MaxRSS</dt><dd><%= @job.maxrss%>
<dt>MaxVMSize</dt><dd><%= @job.maxvmsize%>
<dt>Maxdiskread</dt><dd><%= @job.maxdiskread%>
<dt>Maxdiskwrite</dt><dd><%= @job.maxdiskwrite%>
<% end %>
</dl>
</details>

<h4><%= gettext "Performance" %></h4>

<div id="perf-plots">
<div class="dropdown">
<button class="btn btn-default dropdown-toggle" type="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<span id="perf-drop-btn-txt"><%= gettext "Loading..." %></span>
<span class="caret"></span>
</button>
<ul id="perf-drop-menu" class="dropdown-menu" role="tablist">
<li role="presentation"><a id="all-tab" href="#"><%= gettext "Show all" %></a></li>
<li role="separator" class="divider"></li>
</ul>
</div>

<div id="perf-plot-tabs" class="tab-content"></div>
</div> <!-- #perf-plots -->

<h4><%= gettext "Script" %></h4>
<%= if @jobscript do %>
<pre><code class="language-bash"><%= @jobscript.jobscript %></code></pre>
<% else %>
<p><em><%= gettext "script not available" %></em></p>
<% end %>

<h4><%= gettext "Environment" %></h4>
<%= if @jobenv do %>
<pre>
<%= @jobenv.jobenv %>
</pre>
<% else %>
<p><em><%= gettext "environment not available" %></em></p>
<% end %>

<%= render Portal.SharedView, "plotjs.html" %>
<script>

function handle_data(data) {

if (data == null || data.length == 0) {
    document.getElementById('perf-plots').innerHTML = "<%= gettext "no data" %>";
    return;
}

var parseDate = d3.isoParse;

var start_time = parseDate(<%= {:safe, Poison.encode! @job.start} %>),
    comp_time = parseDate(<%= {:safe, Poison.encode! @job.endtime} %>);

data.forEach(function(d) {
  d.date = parseDate(d['time'].replace(' ','T'));
});

function mergedomains(a, b) {
  return [Math.min(a[0],b[0]), Math.max(a[1],b[1])];
}

function makeplot(data, label, id, field, ydomain) {

  const avg = d3.mean(data, field);

  let opts = {
    x: "date",
    y: d => field(d),
    z: "nodename",
    title: "nodename",
  };

  var main;
  if (data.length < 2000) {
    opts.fill = "nodename";
    opts.r = 4;
    main = Plot.dot(data, opts);
  } else {
    opts.stroke = "nodename";
    main = Plot.line(data, opts);
  }

  const p = Plot.plot({
    width: 720,
    height: 360,
    marginLeft: 56,
    grid: true,
    x: {
      type: "time",
      domain: [start_time, comp_time],
      nice: true,
    },
    y: {
      domain: mergedomains(ydomain, d3.extent(data,field)),
      nice: true,
    },
    marks: [
      Plot.ruleY([avg], { strokeDasharray: [2,2] }),
      main,
    ],
  });

  // make plot tab

  div = document.createElement('div');
  div.id = id;
  div.role = "tabpanel";
  div.className = "tab-pane";

  h = document.createElement('h5');
  h.appendChild(document.createTextNode(label));

  div.appendChild(h);
  div.appendChild(p);
  document.getElementById('perf-plot-tabs').appendChild(div);

  // make menu item

  a = document.createElement('a');
  a.href = '#' + id;
  a.role = 'tab';
  a.setAttribute('data-toggle', 'tab');
  a.setAttribute('aria-controls', id);
  a.appendChild(document.createTextNode(label));

  li = document.createElement('li');
  li.role = 'presentation';
  li.appendChild(a);
  document.getElementById('perf-drop-menu').appendChild(li);
}

makeplot(data,
  "<%= gettext "CPU Usage [%]" %>",
  "cpu-tab",
  function(d) { return d.cpupercent; },
  [0, 100]
);

makeplot(data,
  "<%= gettext "Memory Available [GiB]" %>",
  "mem-tab",
  function(d) { return (d.memfree + d.buffers + d.cached)/1024.; },
  [0, 192]
);

makeplot(data,
  "<%= gettext "File Reads [MiB/s]" %>",
  "read-tab",
  function(d) { return d.readkb/1024; },
  [0, 1]
);

makeplot(data,
  "<%= gettext "File Writes [MiB/s]" %>",
  "write-tab",
  function(d) { return d.writekb/1024; },
  [0, 1]
);

makeplot(data,
  "<%= gettext "File Operations [#/s]" %>",
  "ops-tab",
  function(d) { return d.opens + d.closes +
                       d.reads + d.writes +
                       d.readdir + d.inodes; },
  [0, 100]
);

makeplot(data,
  "<%= gettext "CPU temperature [C]" %>",
  "cputemp-tab",
  function(d) { return (d.cput1 + d.cput2)/2000.; },
  [60, 90]
);

makeplot(data,
  "<%= gettext "CPU frequency [GHz]" %>",
  "freq-tab",
  function(d) { return d.freq; },
  [2, 3.5]
);

makeplot(data,
  "<%= gettext "CPU cycles per instruction" %>",
  "cpi-tab",
  function(d) { return d.cpi; },
  [0, 10]
);

makeplot(data,
  "<%= gettext "CPU Power [watt]" %>",
  "power-tab",
  function(d) { return d.power; },
  [200, 350]
);

makeplot(data,
  "<%= gettext "DRAM Power [watt]" %>",
  "powerdram-tab",
  function(d) { return d.powerdram; },
  [10, 20]
);

makeplot(data,
  "<%= gettext "Double-precision floating point operations [GFLOP/s]" %>",
  "mflops-tab",
  function(d) { return d.mflops/1000.; },
  [0, 10]
);

makeplot(data,
  "<%= gettext "Single-precision floating point operations [GFLOP/s]" %>",
  "smflops-tab",
  function(d) { return d.smflops/1000.; },
  [0, 10]
);

makeplot(data,
  "<%= gettext "Memory read bandwidth [GiB/s]" %>",
  "memread-tab",
  function(d) { return d.memread/1024.; },
  [0, 10]
);

makeplot(data,
  "<%= gettext "Memory write bandwidth [GiB/s]" %>",
  "memwrite-tab",
  function(d) { return d.memwrite/1024.; },
  [0, 10]
);

var data_by_node = d3.group(data, d => d.nodename);
var diff = [];

data_by_node.forEach(function(values, key) {
  values.sort(function(a,b) {
    return a.date.getTime() - b.date.getTime();
  });

  for (var i = 1; i < values.length; i++) {
    var a = values[i-1];
    var b = values[i];
    var atime = a.date.getTime(),
        btime = b.date.getTime();
    var scale = 1000/(btime - atime);

    var xd = b.portxmitdata - a.portxmitdata;
    var rd = b.portrcvdata - a.portrcvdata;
    var xp = b.portxmitpkts - a.portxmitpkts;
    var rp = b.portrcvpkts - a.portrcvpkts;
    if (xd < 0 ){ xd = NaN; }
    if (rd < 0 ){ rd = NaN; }
    if (xp < 0 ){ xp = NaN; }
    if (rp < 0 ){ rp = NaN; }

    diff.push({
      "nodename": key,
      "date": new Date((atime + btime)/2),
      "portxmitdata": xd*scale,
      "portrcvdata": rd*scale,
      "portxmitpkts": xp*scale,
      "portrcvpkts": rp*scale,
    });
  }
});

makeplot(diff,
  "<%= gettext "Network data transmitted, average rate [MiB/s]" %>",
  "portxmitdata-tab",
  function(d) { return d.portxmitdata/262144; }, // portxmitdata has units of 4 bytes
  [0, 10]
);

makeplot(diff,
  "<%= gettext "Network data received, average rate [MiB/s]" %>",
  "portrcvdata-tab",
  function(d) { return d.portrcvdata/262144; }, // portrcvdata has units of 4 bytes
  [0, 10]
);

makeplot(diff,
  "<%= gettext "IB network packets transmitted [1000/s]" %>",
  "portxmitpkts-tab",
  function(d) { return d.portxmitpkts/1000; },
  [0, 10]
);

makeplot(diff,
  "<%= gettext "IB network packets received [1000/s]" %>",
  "portrcvpkts-tab",
  function(d) { return d.portrcvpkts/1000; },
  [0, 10]
);

  $('#perf-drop-menu a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
    $('#perf-drop-menu li.active').removeClass('active');
    $(this).parent('li').addClass('active');
    $('#perf-drop-btn-txt').html($(this).text());
    $('h5').hide();
  });

  // set url #fragment, without scrolling
  $('#perf-drop-menu a[data-toggle="tab"]').on('click', function(e) {
    history.replaceState(null, null, e.target.hash);
  });

  // show all tabs
  $('#all-tab').on('click', function() {
    $('#perf-drop-menu a[data-toggle="tab"]').parent().removeClass('active');
    $('#all-tab').parent().addClass('active');
    $('#perf-drop-btn-txt').html($(this).text());
    $('h5').show();
    $('.tab-pane').addClass('active');
  });

  $('h5').hide();
  var default_tab = "#cpu-tab";
  var hash = window.location.hash;
  if (hash && hash.endsWith("-tab")) {
    default_tab = hash;
  }
  $('#perf-drop-menu a[href="' + default_tab + '"]').tab('show');

} // function handle_data

  d3.tsv('/api/v1/jobs/niagara/<%= @job.jobid %>/utilization.tsv', d3.autoType)
     .then(data => handle_data(data));

</script>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
<style>
pre code.hljs {
    background-color: #f5f5f5;
    color: #333;
    padding: 0;
}
</style>
