<h3><%= gettext "Account" %></h3>

<dl class="dl-horizontal">
<dt><%= gettext "Full name" %></dt>
<dd><%= @current_user.fullname %></dd>
<dt><%= gettext "Username" %></dt>
<dd><%= @current_user.username %></dd>
<dt><%= gettext "Groups" %></dt>
<dd><%= Enum.join(@current_user.groups, ", ") %></dd>
<dt><%= gettext "Email addresses" %></dt>
<dd><%= Enum.join(@current_user.emails, ", ") %></dd>
</dl>

