<div class="row">
<div class="col-md-6 col-md-offset-3">
<h2><%= gettext "Login" %></h2>

<%= form_for @conn, session_path(@conn, :create), [as: :session], fn f -> %>
  <div class="form-group">
    <label><%= gettext "Username" %></label>
    <%= text_input f, :username, class: "form-control" %>
  </div>

  <div class="form-group">
    <label><%= gettext "Password" %></label>
    <%= password_input f, :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= submit gettext("Login"), class: "btn btn-primary" %>
  </div>
<% end %>

<p>
<a href="https://ccdb.computecanada.ca/security/forgot"><%= gettext "Forgot password?" %></a>
</p>
</div>
</div>
