<script src="https://unpkg.com/dayjs@1.11.6/dayjs.min.js"></script>
<script src="https://unpkg.com/dayjs@1.11.6/plugin/relativeTime.js"></script>
<script src="https://unpkg.com/dayjs@1.11.6/plugin/timezone.js"></script>
<script src="https://unpkg.com/dayjs@1.11.6/plugin/utc.js"></script>
<script>dayjs.extend(window.dayjs_plugin_relativeTime)</script>
<script>dayjs.extend(window.dayjs_plugin_timezone)</script>
<script>dayjs.extend(window.dayjs_plugin_utc)</script>
<%= if @locale != nil and @locale != "en" do %>
<script src="https://unpkg.com/dayjs@1.11.6/locale/<%= @locale %>.js"></script>
<script>dayjs.locale("<%= @locale %>")</script>
<% end %>
