<% q = @conn.query_params["q"] %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form action="<%= user_path @conn, :index %>">
      <div class="form-group">
        <div class="input-group">
          <input type="search" name="q" class="form-control"
            placeholder="<%= gettext "Search for users..." %>"
            <%= if q, do: "value=#{q}", else: "" %>>
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit"><%= gettext "Search" %></button>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>

<%= if @conn.assigns[:users] do %>
<table class="table table-hover">
  <thead>
    <th><%= gettext "User" %></th>
    <th><%= gettext "Name" %></th>
    <th><%= gettext "Email" %></th>
  </thead>
  <tbody>
  <%= for user <- Enum.sort_by(@users, &(&1.cn)) do %>
    <tr>
      <td>
      <% username = hd(user.uid) %>
      <a href="<%= user_path @conn, :show, username %>"><%= username %></a>
      </td>
      <td style="vertical-align:middle"><%= user.cn %></td>
      <td style="vertical-align:middle"><%= Enum.join(user.mail, ", ") %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>
