<h3><%= gettext "User" %> <%= @user.username %></h3>

<dl class="dl-horizontal">

<dt><%= gettext "Full name" %></dt>
<dd><%= @user.fullname %></dd>

<dt><%= gettext "Email addresses" %></dt>
<dd><%= Enum.join(@user.emails, ", ") %></dd>

<dt><%= gettext "Groups" %></dt>
<dd>
<a href="<%= group_path @conn, :show, hd(@user.groups) %>"><%= hd(@user.groups) %></a><%=
    for g <- tl @user.groups do %>, <a href="<%= group_path @conn, :show, g %>"><%= g %></a><% end %>
</dd>

<dt><%= gettext "Allocations" %></dt>
<dd>
<a href="<%= allocation_path @conn, :show, hd(@allocations) %>"><%= hd(@allocations) %></a><%=
    for a <- tl @allocations do %>, <a href="<%= allocation_path @conn, :show, a %>"><%= a %></a><% end %>
</dd>

</dl>

<h4><%= gettext "Storage" %></h4>
<%= render Portal.StorageView, "table.html", conn: @conn, group: nil, groups: nil, storage: @storage, links: nil %>

<h4><%= gettext "Recent Jobs" %></h4>
<%= if @conn.assigns[:jobs] do %>
<%= render Portal.JobView, "_jobs.html", conn: @conn, jobs: @jobs, locale: get_locale(@conn) %>
<% end %>

<p>
<a href="<%= job_path @conn, :index, user: @user.username %>"><%= gettext "More..." %></a>
</p>
