<% q = @conn.query_params["q"] %>

<div class="row">
<h3 class="col-sm-6" >Mist</h3>
<form class="col-sm-6" action="<%= mistjob_path @conn, :index %>">
<div class="form-group">
<div class="input-group">
<% attrs = [type: "search", name: "q", class: "form-control",
            placeholder: gettext("Search for...")] %>
<%= tag :input, (if q, do: [value: q] ++ attrs, else: attrs) %>
<span class="input-group-btn">
<button class="btn btn-default" type="submit"><%= gettext "Search" %></button>
</span>
</div><!-- input-group -->
</div><!-- form-group -->
</form>
</div>

<%= if @conn.assigns[:jobs] do %>
<table class="table table-hover">
<thead>
<tr>
<th><%= gettext "ID" %></th>
<th><%= gettext "Updated" %></th>
<th><%= gettext "Username" %></th>
<th><%= gettext "Allocation" %></th>
<th><%= gettext "Name" %></th>
<th class="job-nodes"><%= gettext "Nodes" %></th>
<th class="job-walltime"><%= gettext "Walltime" %></th>
<th class="job-status"><%= gettext "State" %></th>
</tr>
</thead>
<tbody>
<%= for job <- @jobs do %>
  <tr>
  <td class="job-id">
  <a href="<%= mistjob_path @conn, :show, job.jobid %>"><%= job.jobid %></a>
  </td>
  <td class="job-date" title="<%= job.endtime %>">
  <%= job.endtime %>
  </td>
  <td class="job-user">
  <%= job.username %>
  </td>
  <td class="job-account">
  <%= job.account %>
  </td>
  <td class="job-name">
  <%= add_underscore_breaks job.jobname %>
  </td>
  <td class="job-nodes">
  <%= job.nnodes %>
  </td>
  <td class="job-walltime">
  <%= job.elapsed %>
  </td>
  <td class="job-status">
  <%= job.state %>
  </td>
  </tr>
<% end %>
</tbody>
</table>

<% pagemin = max(1, @page - 2) %>
<% pagemax = pagemin + 4 %>

<nav class="text-center">
<ul class="pagination">
<% previous = gettext "Previous" %>
<% next = gettext "Next" %>
<%= if @page == 1 do %>
  <li class="disabled">
  <span><span aria-hidden="true"><%= previous %></span></span>
  </li>
<% else %>
  <li>
  <a href="<%= job_index_page_path @conn, @page - 1 %>" aria-label="<%= previous %>">
  <span aria-hidden="true"><%= previous %></span>
  </a>
  </li>
<% end %>
<%= for i <- pagemin..pagemax do %>
  <%= if i == @page do %>
    <li class="active">
    <span><%= i %> <span class="sr-only">(current)</span></span>
    </li>
  <% else %>
    <li><a href="<%= job_index_page_path @conn, i %>"><%= i %></a></li>
  <% end %>
<% end %>
<li>
<a href="<%= job_index_page_path @conn, @page + 1 %>" aria-label="<%= next %>">
<span aria-hidden="true"><%= next %></span>
</a>
</li>
</ul>
</nav>
<% end %>

<%= render Portal.SharedView, "dayjs.html", locale: @conn.assigns[:locale] %>
<script>
$(document).ready(function() {
  var els = document.getElementsByClassName('job-date');
  var update = function() {
    for (var i = 0; i < els.length; i++) {
      var el = els[i];
      el.textContent = dayjs(el.getAttribute('title').replace(' ','T')).fromNow();
    }
  };
  update();
  window.setInterval(update, 200000);
});
</script>
