<h3><%= gettext "Job %{id}", id: @job.jobid %>: <%= add_underscore_breaks @job.jobname %></h3>

<dl class="dl-horizontal">
<dt>State</dt><dd><%= @job.state %></dd>

<dt>Partition / QOS</dt><dd><%= @job.partition %> / <%= @job.qos %></dd>
<dt>Alloctres</dt><dd><%= @job.alloctres %></dd>
<dt>Nodelist</dt><dd><%= @job.nodelist %></dd>
<dt>Timelimit</dt><dd><%= @job.timelimit %></dd>
<dt>StartTime</dt><dd><%= @job.start %></dd>
<dt>Walltime</dt><dd><%= @job.elapsed %></dd>
<dt>Workdir</dt><dd><%= @job.workdir %></dd>

<dt>Maxdiskread</dt><dd><%= @job.maxdiskread%>
<dt>Maxdiskwrite</dt><dd><%= @job.maxdiskwrite%>
<dt>MaxRSS</dt><dd><%= @job.maxrss%>
<dt>MaxVMSize</dt><dd><%= @job.maxvmsize%>

<dt>TotalCPU</dt><dd><%= @job.totalcpu%>
<dt>SystemCPU</dt><dd><%= @job.systemcpu%>
<dt>UserCPU</dt><dd><%= @job.usercpu%>

<dt title="time spent waiting in the queue">Queue time</dt>
<dd><%= pretty_interval_comparison timediff(@job.start,@job.submit), timediff(@job.endtime,@job.submit) %></dd>

<dt title="cpu time used">CPU time</dt>
<dd><%= pretty_interval_comparison to_sec(@job.totalcpu), to_sec(@job.cputime)|>div(2) %></dd>
</dl>

<h4><%= gettext "GPU usage" %></h4>
<%= if @conn.assigns[:jobgpuacc] do %>
<pre>
<%= for gpu <- @jobgpuacc do %>
<%= gpu.nodejobid %>
<%= gpu.gpuacc %>
  
<% end %>
</pre>
<% else %>
<p><em><%= gettext "GPU usage not available" %></em></p>
<% end %>

<h4><%= gettext "Script" %></h4>
<%= if @jobscript do %>
<pre>
<%= @jobscript.jobscript %>
</pre>
<% else %>
<p><em><%= gettext "script not available" %></em></p>
<% end %>

<h4><%= gettext "Environment" %></h4>
<%= if @jobenv do %>
<pre>
<%= @jobenv.jobenv %>
</pre>
<% else %>
<p><em><%= gettext "environment not available" %></em></p>
<% end %>


