<h3><%= gettext "Niagara Status" %>
<%= if @nia do %>
  <small class="pull-right" id="nia-status" data-unixtime="<%= @nia[:time] %>"></small>
</h3>
<style>
  .svg-background {
    background-color: #FFFFFF
  }
</style>
<div class="row">
  <div class="col-sm-4">
    <div class="thumbnail gauge">
      <div class="gauge-caption"><%= gettext "Compute utilized" %></div>
      <div id="compload"></div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="thumbnail gauge">
      <div class="gauge-caption">/scratch + /project</div>
      <div id="fs0"></div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="thumbnail gauge">
      <div class="gauge-caption">Burst Buffer</div>
      <div id="bb0"></div>
    </div>
  </div>

</div>

<% else %>
</h3>
<p><em><%= gettext "Possibly down -- check the wiki to confirm." %></em></p>
<% end %>

<h3><%= gettext "Queue" %></h3>
<div class="row">

  <div class="col-sm-4">
    <div class="thumbnail gauge">
      <div class="gauge-val">
        <%= Float.round((@nia[:active_cluster_hrs] + @nia[:queued_cluster_hrs])/24, 1) %>
      </div>
      <div class="gauge-caption"><%= gettext "Days of work" %></div>
      <br><br><br>
      <div class="gauge-val">
        <%= @nia[:active_count] + @nia[:queued_count] %>
      </div>
      <div class="gauge-caption"><%= gettext "Number of jobs" %></div>
    </div>
  </div>

    <div class="col-sm-8">
    <div class="thumbnail gauge">
      <h5><%= gettext "Expected compute node turnover: %{nodes} nodes in 12 hours", nodes: Enum.at(String.split(@nodefree,","),11) %></h5>
      <div id="node-free"></div>
    </div>
  </div>

</div>


<div class="row">
  <style>
    .ticks { font: 10px sans-serif; }
    .track, .track-inset, .track-overlay { stroke-linecap: round; }
    .track { stroke: #000; stroke-opacity: 0.3; stroke-width: 10px; }
    .track-inset { stroke: #ddd; stroke-width: 5px; }
    .track-overlay { pointer-events: stroke; stroke-width: 50px; stroke: transparent; cursor: crosshair; }
    .handle { fill: #ff0; stroke: #000; stroke-opacity: 0.5; stroke-width: 1.25px; }
  </style>

  <div class="col-sm-12">
  <div class="thumbnail gauge">
    <h5><%= gettext "Past 24-hour running job distribution" %></h5>
    <span id="slider1"></span>
      <button id="playbt"><%= gettext "Play" %></button>
    <div id="rjobwalltime"></div>
  </div>
  </div>
</div>


<%= if @loginnodes do %>
<h3><%= gettext "Login node status" %></h3>
<div class="row">
  <div class="col-sm-4">
     <div class="thumbnail gauge">
       <div class="gauge-caption">nia-login01 / 142.150.188.71</div>
       <div id="login01rad"></div>
     </div>
  </div>

  <div class="col-sm-4">
     <div class="thumbnail gauge">
       <div class="gauge-caption">nia-login02 / 142.150.188.72</div>
       <div id="login02rad"></div>
     </div>
  </div>

  <div class="col-sm-4">
     <div class="thumbnail gauge">
       <div class="gauge-caption">nia-login03 / 142.150.188.73</div>
       <div id="login03rad"></div>
     </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
     <div class="thumbnail gauge">
       <div class="gauge-caption">nia-login05 / 142.150.188.75</div>
       <div id="login05rad"></div>
     </div>
  </div>

  <div class="col-sm-4">
     <div class="thumbnail gauge">
       <div class="gauge-caption">nia-login06 / 142.150.188.76</div>
       <div id="login06rad"></div>
     </div>
  </div>

  <div class="col-sm-4">
     <div class="thumbnail gauge">
       <div class="gauge-caption">nia-login07 / 142.150.188.77</div>
       <div id="login07rad"></div>
     </div>
  </div>
</div>

<h3><%= gettext "Service nodes status" %></h3>
<div class="row">
  <div class="col-sm-4">
     <div class="thumbnail gauge">
       <div class="gauge-caption">dm1 / 142.150.188.131</div>
       <div id="dm1rad"></div>
     </div>
  </div>

  <div class="col-sm-4">
     <div class="thumbnail gauge">
       <div class="gauge-caption">dm2 / 142.150.188.132</div>
       <div id="dm2rad"></div>
     </div>
  </div>

  <div class="col-sm-4">
     <div class="thumbnail gauge">
       <div class="gauge-caption">jupyter.scinet.utoronto.ca</div>
       <div id="jupyterrad"></div>
     </div>
  </div>

</div>
<% end %>

<hr>
<div class="row">
<div class="col-sm-4 text-center">
<h3><%= gettext "Documentation" %></h3>
<p>
<%= raw gettext("See our <a href=\"https://docs.scinet.utoronto.ca\">wiki</a> for complete information about our systems.") %>
</p>
</div>
<div class="col-sm-4 text-center">
<h3><%= gettext "Education" %></h3>
<%= raw gettext("We teach <a href=\"https://education.scinet.utoronto.ca\">classes</a> on parallel programming, scientific computing, and more.") %>
</div>
<div class="col-sm-4 text-center">
<h3><%= gettext "Support" %></h3>
<p>
<%= raw gettext("Need help? Email us at <a href=\"mailto:support@scinet.utoronto.ca\">support@scinet.utoronto.ca</a>.") %>
</p>
</div>
</div>

<hr>

<%= render Portal.SharedView, "dayjs.html", locale: @conn.assigns[:locale] %>
<script>
$(document).ready(function() {
  var el = document.getElementById('nia-status');
  var update = function() {
    el.textContent = dayjs.unix(el.dataset.unixtime).fromNow();
  };
  update();
  window.setInterval(update, 200000);
});
</script>

<%= render Portal.SharedView, "plotjs.html" %>
<script>
  var data = {
    <%= for {key,value} <- @loginnodes do %>
      "<%= key %>": <%= value %>,
    <% end %>
  };

  ['login01','login02','login03','login05','login06','login07','dm1','dm2','jupyter'].forEach( i => {
    makePlot(`div#${i}rad`,
             [data[`${i}_load`], data[`${i}_cpu`],data[`${i}_memory`]],
             ["LOAD ", "CPU ", "MEM "],
             [1,1,1]);
  })

  halfCircle("#compload","<%= Float.round @nia[:load], 1 %>");
  halfCircle("#fs0", "<%= Float.round @filesystems[:fs0_percent_used], 1 %>");
  halfCircle("#bb0", "<%= Float.round @filesystems[:bb0_percent_used], 1 %>");

  function halfCircle(element,data){
    var pi = Math.PI,
        n = 50,
        svgw = 200;

    var svg = d3.select(element)
                .append("svg")
                .attr("width",svgw)
                .attr("height",svgw/2)
                .attr("class","svg-background");

    svg.append("rect") //set background color
       .attr("width", "100%")
       .attr("height", "100%")
       .attr("fill", "white");

    svg.append("g")
       .attr("width",svgw)
       .attr("height",svgw)
       .attr("transform", `translate(${svgw/2},${svgw/2}) rotate(-90)`)
       .selectAll("path")
       .data(d3.range(0, pi, pi/n))
       .enter().append("path")
       .attr("d", d3.arc()
       .outerRadius(svgw/2 - svgw/20 )
       .innerRadius(svgw/2 - svgw/10 )
       .startAngle(function(d) { return d; })
       .endAngle(function(d) { return d + pi / n * 1.1; }))
       .style("fill", function(d){
         if(d <= parseFloat(data)*pi/100){
           return d3.hsl(270 - d * 270 / pi, 1, .5);
         } else {
           return "rgb(245,245,245)";
         }
       });

    svg.append("text")
       .text(`${data}%`)
       .attr("transform", `translate(${svgw/3.8},${svgw/2.25})`)
       .attr("class", "gauge-val");
  }


  function makePlot(element,data,item,scale){
    var svgw = 200;

    var svg = d3.select(element)
                .append("svg")
                .attr("width",svgw)
                .attr("height",svgw)
                .attr("class","svg-background");

    svg.append("rect")
       .attr("width", "100%")
       .attr("height", "100%")
       .attr("fill", "white");

    var arcs = data.map((v,i)=>{
      return d3.arc()
               .outerRadius(svgw/2 - i*svgw/8 - svgw/20 )
               .innerRadius(svgw/2 - i*svgw/8 - svgw/10 );
    });


    var pieData = data.map((u,i)=>{
       let v = u*scale[i];
       return [{value:v*0.75,arc:arcs[i]},{value:(100-v)*0.75,arc:arcs[i]},{value:100*0.25,arc:arcs[i]}];
    })


    var pie = d3.pie()
                .sort(null)
                .value((d,i) => {
                  if(i === 0){
                    return d.value*scale[i];
                  } else {
                    return d.value;
                  }
                })


    var g = svg.selectAll("g")
               .data(pieData)
               .enter()
               .append("g")
               .attr("transform",`translate(${svgw/2},${svgw/2}) rotate(180)`);

    var color = function(d){
      if(d<0){ return "rgb(150,150,150)"; }
      let green = d<50 ? 255 : Math.floor(255-(d*3-100)*255/100);
      let red =   d>50 ? 255 : Math.floor((d*3)*255/100);
      return "rgb("+red+","+green+",0)";
    }

    g.selectAll("path")
     .data(d=>pie(d))
     .enter().append("path")
     .attr("d",d=>d.data.arc(d))
     .attr("fill",(d,i)=>{
       i==0?color(d.value):"none"
       if(i===0){
         return color(d.value);
       } else if( i===1 ){
         return "rgb(245,245,245)";
       } else {
         return "none";
       }
     });

    var label = "";
    svg.selectAll("g")
       .each(function(d,i){
         let index = i;
         label = item[index];
         d3.select(this)
           .selectAll("path")
           .each((r,i) => {
             if(i==0){
               let centroid = r.data.arc.centroid({startAngle:r.startAngle-0.1, endAngle:r.startAngle-0.1});
               g.append("text")
                .text(label + Math.round(r.data.value/0.75/scale[index]))
                .attr("transform",`translate(${centroid[0]},${centroid[1]}) rotate(180)`)
                .attr("alignment-baseline","central");
             }
           })
     })
  }
</script>

<script>
  var dtsraw = '<%= {:safe, @jobwalltime } %>';
  var dts = JSON.parse(dtsraw);

  var hr = ["00","01","02","03","04","05","06","07","08","09","10","11","12","13","14","15","16","17","18","19","20","21","22","23"];
  var mn = ["00","10","20","30","40","50"];
  var frames = [];
  for(let i=0; i<hr.length; i++){
    for(let j=0; j<mn.length; j++){
      frames.push(hr[i]+mn[j]);
    }
  }

  var sliderw = 500;
  var sliderh = 65;
  var spadding = 68;

  var svg1 = d3.select("#slider1")
              .append("svg")
              .attr("width",sliderw)
              .attr("height",sliderh)
              .attr("class","svg-background");

  svg1.append("rect")
      .attr("width", "100%")
      .attr("height", "100%")
      .attr("fill", "white");

  var smax = frames.length
  var sscale = d3.scaleLinear()
                 .domain([0, smax])
                 .range([0, sliderw-spadding])
                 .clamp(true);

  var slider = svg1.append("g")
                  .attr("class","slider")
                  .attr("transform",`translate(${spadding/2},${sliderh/2})`)

  function x(d) { return d.rwall; }
  function y(d) { return d.nodes; }
  function z(d) { return d.jobs; }
  function ns(d) { return d.nsum; }

  var stopIndex = 0; // find the latest 10-minute mark

  var currentTime = new Date(),
      stopTime = currentTime.getHours(),
      minutes = currentTime.getMinutes();

  if (stopTime < 10 ) { stopTime = "0" + stopTime; }
  if (minutes < 10) {
    stopTime += "00";
  } else {
    stopTime += minutes.toString()[0] + "0";
  }
  var nodeMax = 0;
  for(let i=0; i<frames.length; i++){
    if(frames[i] === stopTime){
      stopIndex = i;
    }
    let j = d3.max(getData(frames[i]), d => d.nodes)
    nodeMax = nodeMax < j ? j : nodeMax;
  }
  var frameIndex = stopIndex;
  var pix = 0;

  slider.append("line")
        .attr("class", "track")
        .attr("x1", sscale.range()[0])
        .attr("x2", sscale.range()[1])
        .select(function() { return this.parentNode.appendChild(this.cloneNode(true)); })
        .attr("class", "track-inset")
        .select(function() { return this.parentNode.appendChild(this.cloneNode(true)); })
        .attr("class", "track-overlay")
        .call(d3.drag()
          .on("start.interrupt", function() { slider.interrupt(); })
          .on("start drag", function() {
            pix = d3.event.x;
            update(sscale.invert(d3.event.x));
        }));

  var handle = slider.insert("circle", ".track-overlay")
                     .attr("class", "handle")
                     .attr("r", 9);

  slider.transition()
        .duration(2000)
        .tween("update", function() {
          var i = d3.interpolate(0, stopIndex);
          return function(t) {
            pix = d3.select(".handle").attr("cx");
            update(i(t));
          };
        });

  var svgw = 900;
  var svgh = 450;
  var padding = 50;
  var svgp = d3.select("#rjobwalltime")
               .append("svg")
               .attr("width", svgw)
               .attr("height", svgh)
               .attr("class","svg-background");
  svgp.append("rect")
      .attr("width", "100%")
      .attr("height", "100%")
      .attr("fill", "white");

  var frame0 = getData(frames[frameIndex]);
  var xmax = 24;
  var xscale = d3.scaleLinear()
                 .domain([0, xmax])
                 .range([padding,svgw-padding]);
  var yscale = d3.scaleSqrt()
                 .domain([0, nodeMax])
                 .range([svgh-padding,padding]);
  var rscale = d3.scaleSqrt()
                 .domain([0, d3.max(frame0, d => d.jobs)])
                 .range([1,10]);

  var xaxis = d3.axisBottom(xscale);
  svgp.append("g")
      .attr("class","xaxis")
      .attr("transform",`translate(0,${svgh-padding})`)
      .call(xaxis);
  svgp.append("text")
      .attr("transform",`translate(${svgw/2},${svgh-padding/4})`)
      .style("text-anchor", "middle")
      .text("<%= raw gettext("Running jobs remaining wall hours")%>");

  var yaxis = d3.axisLeft(yscale);
  svgp.append("g")
      .attr("class","yaxis")
      .attr("transform",`translate(${padding},0)`)
      .call(yaxis)
  svgp.append("text")
      .attr("transform", `translate(${padding/3},${svgh/2}) rotate(-90)`)
      .style("text-anchor", "middle")
      .text("<%= raw gettext("Nodes") %>");

  function mkcircle(findex){
    var curframe = getData(frames[frameIndex]);

    var circle = svgp.selectAll("circle")
                     .data(curframe)
    circle.exit().remove();
    circle.enter().append("circle");
    circle.attr("cx", d => xscale(x(d)) )
          .attr("cy", d => yscale(y(d)) )
          .attr("r", d  => z(d) >0 ? rscale(z(d)*2) : 0 )
          .attr("fill", d => `hsl(${360/(z(d)+0.25)}, 100%, 50%)`)
          .sort((a, b) => z(b)-z(a))

    circle.selectAll(".cirtitle").remove();
    circle.append("svg:title")
          .attr("class","cirtitle")
          .text(d => `${z(d)}  ${y(d)}-node  ${z(d) > 1 ? "jobs" : "job"}` );

    svgp.select(".yaxis")
        .transition()
        .duration(100)
        .call(yaxis)
    svgp.select(".xaxis").call(xaxis);
  }
  mkcircle(frameIndex);

  var label = slider.append("text")
                    .attr("text-anchor", "middle")
                    .attr("transform","translate(0, 32)");

  function update(h) {
    frameIndex = Math.round(sscale.invert(pix));
    chkPix();
    mkcircle(frameIndex);

    handle.attr("cx", sscale(h));
    label.attr("x", sscale(h))
         .text(frames[frameIndex].substring(0,2)+":"+frames[frameIndex].substring(2,4));

  }

  var timerID = 0;
  var playbt = d3.select("#playbt");
  playbt.on("click", function() {
    var b = d3.select(this);
    if(playbt.text() == "<%= gettext "Stop" %>"){
      clearInterval(timerID)
      playbt.text("<%= gettext "Play" %>");
    } else {
      timerID = setInterval(step, 100);
      playbt.text("<%= gettext "Stop" %>");
    }
  })

  function chkPix(){
    if(frameIndex >= frames.length) { frameIndex = frames.length-1; }
    if(frameIndex < 0 ) { frameIndex = 0; }
  }

  var pixstep = (sliderw-spadding)/frames.length

  function step() {  //called when click on play
    if(pix<0 || sscale.invert(pix) >= smax) {pix =0; }

    pix = +pix + pixstep;
    update(sscale.invert(pix));

    if(Math.round(sscale.invert(pix)) === stopIndex){
      clearInterval(timerID);
      playbt.text("Play");
    }
  }

  var lastr=0, lastn=0, curr=0, curn=0;
  function getData(time){
    return dts.map(function(d){
      curr = dataAt(d.rwall,time);
      curn = dataAt(d.nsum,time);
      if(curr === -99){
        curr = lastr;
        curn = lastn;
      } else {
        lastr = curr;
        lastn = curn;
      }
      return {
        rwall: curr,
        nodes: dataAt(d.nodes,time),
        jobs: dataAt(d.jobs,time),
        nsum: curn
      };
    });
  }

  function dataAt(values, time,last){
    for(let i = 0; i < values.length; i++){
      if(values[i][0] === time){
        return values[i][1];
      }
    }
    return -99;
  }
</script>

<script>
  var tnodes = '<%= @tnodes %>';
  var nfstr = '<%= @nodefree %>';
  var nfree = nfstr.split(",");

  var jbstr = '<%= @jobfree %>';
  var jbfree = jbstr.split(",");

  var hgw = 580;
  var hgh = 160;
  var hgpadding=25;
  var hg = d3.select("#node-free")
              .append("svg")
              .attr("width", hgw)
              .attr("height", hgh);
  hg.append("rect")
    .attr("width", "100%")
    .attr("height", "100%")
    .attr("fill", "white");

  var hgxscale = d3.scaleBand()
                 .domain(d3.range(nfree.length))
                 .rangeRound([hgpadding, hgw-hgpadding])
                 .paddingInner(0.05);

  var hgyscale = d3.scaleLinear()
                 .domain([0,tnodes])
                 .range([0,hgh-hgpadding*2.5]);

  var tscale = d3.scaleBand()
                  .domain(["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24"])
                 .rangeRound([hgpadding, hgw-hgpadding])
                 .paddingInner(0.05);

  var hgxaxis = d3.axisBottom(tscale)

  var nf12 = nfree[11];

  hg.append("g")
    .attr("class","xaxis")
    .attr("transform",`translate(0,${hgh-hgpadding})`)
    .call(hgxaxis);

  hg.selectAll("rect")
     .data(nfree)
     .enter()
     .append("rect")
     .attr("x",(d,i)=>hgxscale(i))
     .attr("width",hgxscale.bandwidth())
     .attr("y",d => hgh-hgyscale(d)-hgpadding)
     .attr("height",d=>hgyscale(d))
     .attr("fill",(d,i)=> i === 11 ? "peru" : `rgb(100, 150, ${Math.round(d/6)})` )
     .attr("id",(d,i)=>i)
     .on("mouseover",function(d,i){
       d3.select(this).attr("fill","orange")
       let xPosition = parseFloat(d3.select(this).attr("x")) + hgxscale.bandwidth()/2;
       let yPosition = parseFloat(d3.select(this).attr("y")) - 5;
       hg.append("text")
          .attr("id","tooltip")
          .attr("x",200)
          .attr("y",30)
          .attr("text-anchor","middle")
          .attr("font-family","sans-serif")
          .attr("font-size","11px")
          .attr("font-weight","bold")
          .attr("fill","grey")
          .text(`${jbfree[this.id]} jobs using ${i} nodes will reach walltime limit in ${parseInt(this.id)+1} hour${i===0 ? "" : "s"}`)
     })
     .on("mouseout",function(d,i,j){
       d3.select(this)
         .transition()
         .duration(250)
         .attr("fill", d=> this.id === "11" ? "peru" : `rgb(100, 150, ${Math.round(d/6)})` )
       d3.select("#tooltip").remove();
     })

</script>
