<h3><%= gettext "Allocation %{name}", name: @conn.params["id"] %></h3>

<%= if @nia[:cores] do %>
<h4><%= gettext "Niagara priority" %></h4>
<div class="panel panel-default">
<div class="panel-body row">
<% {cores, _} = Float.parse @nia[:cores] %>
<% {percent_used, _} = Float.parse @nia[:percent_used] %>
<div class="col-sm-6">
<p>
<%= raw gettext("Recently, this account has used <strong>%{percent}%</strong> of its rolling Niagara allocation (<strong>~%{cores} cores</strong>).", percent: round(percent_used), cores: round(cores)) %>
</p>
<p>
<%= gettext """
Allocations are "use it or lose it", not a lump sum.
The scheduler adjusts your job priority based on your recent usage,
so that your average usage matches your allocation.
""" %>
</p>
<p>
<%= gettext """
"Recent" here means a few weeks.
The scheduler's memory of past usage decays with a half-life of one week.
The pie-chart shows each user's share of recent usage.
""" %>
</p>
</div>
<div class="col-sm-6">
<svg id="user-usage-plot" class="center-block"></svg>
</div>
</div>
</div>

<h4><%= gettext "Niagara usage since %{date}", date: @rac_start_date %></h4>

<table class="table table-hover">
<thead>
<tr>
<th><%= gettext "Username" %></th>
<th class="text-right"><%= gettext "Core-years" %></th>
<th class="text-right"><%= gettext "Number of jobs" %></th>
</tr>
</thead>
<tbody>
<%= for [username,core_years,num_jobs] <- @usage do %>
<tr>
<td><%= username %></td>
<td class="text-right"><%= Float.round(core_years, 1) %></td>
<td class="text-right"><%= num_jobs %></td>
</tr>
<% end %>
</tbody>
<% total_core_years = Enum.sum Enum.map(@usage, fn [_,x,_] -> x end) %>
<% total_num_jobs   = Enum.sum Enum.map(@usage, fn [_,_,x] -> x end) %>
<tfoot style="font-weight:bold">
<tr>
<td>Total</td>
<td class="text-right"><%= Float.round(1.0*total_core_years, 1) %></td>
<td class="text-right"><%= total_num_jobs %></td>
</tr>
</tfoot>
</table>

<%= render Portal.SharedView, "plotjs.html" %>
<script>

var total_width = 344,
    total_height = 300;

var margin = {top: 10, right: 10, bottom: 30, left: 50},
    width = total_width - margin.left - margin.right,
    height = total_height - margin.top - margin.bottom;

/* per day plot */
/* per user plot */

var data = [
<%= for {user,usage} <- @sshare do %>
  { label: "<%= user %>", value: <%= usage %> },
<% end %>
];
data.sort(function(a,b) { return b.value - a.value; });
var total_value = d3.sum(data, function(d) { return d.value; });

var svg = d3.select("#user-usage-plot")
    .attr("width", total_width)
    .attr("height", total_height)
  .append("g")
    .attr("transform", "translate(" + total_width/2 + "," + total_height/2 + ")");

svg.append("g").attr("class", "slices");
svg.append("g").attr("class", "labels");

var radius = 0.9 * Math.min(total_width, total_height) / 2;

var pie = d3.pie()
    .startAngle(-0.5*Math.PI)
    .endAngle(1.5*Math.PI)
    .value(function(d) { return d.value; });

var arc = d3.arc()
    .innerRadius(0)
    .outerRadius(radius * 0.8);

var outerArc = d3.arc()
    .innerRadius(radius * 0.9)
    .outerRadius(radius * 0.9);

var key = function(d){ return d.data.label; };

var color = d3.scaleOrdinal(d3.schemeCategory10);

var slice = svg.select(".slices").selectAll("path.slice")
    .data(pie(data), key)
  .enter().insert("path")
    .style("fill", function(d) { return color(d.data.label); })
    .attr("class", "slice")
    .attr("d", arc);

var text = svg.select(".labels").selectAll("text")
    .data(pie(data), key)
  .enter().append("text")
    .attr("dy", ".35em")
    .text(function(d) {
      return d.data.value/total_value > 0.02 ? d.data.label : ""; })
    .attr("transform", function(d) {
      return "translate(" + outerArc.centroid(d) + ")"; })
    .attr("text-anchor", function(d) {
      return outerArc.centroid(d)[0] > 0 ? "start" : "end"; });

</script>

<% end %>
