<h4>Test jobs</h4>
<ul>
  <li>tests</li>
    <ul>
      <li>IOR: walltime (sec), Max Write (MiB/sec), Max Read (MiB/sec)</li>
      <li>HPL: walltime (sec), GFLOPS</li>
      <li>HPCG: walltime (sec), GFLOPS</li>
      <li>MiniDFT: walltime (sec), cputime(sec)</li>
    </ul>
  <li>Run once a week.</li>
    <ul>
      <li>Jobs are to be submitted on Monday early morning onto each compute node.</li>
      <li>Results are collected on Friday morning.</li>
      <li>Jobs that didn't run are canceled at the time of data collection with result of zeros.</li>
    </ul>
  <li>Files are located in /scratch/s/scinet/chyu/test.jobs/.</li>
</ul>

<%= if @conn.assigns[:months] do %>
  <a class="list-group-item" href="<%= testjob_path @conn, :average %>"><strong>Average</strong></a>
  <%= for month <- @months do %>
    <a class="list-group-item" href="<%= testjob_path @conn, :week, month %>">
      <strong><%= month %></strong>
    </a>
  <% end %>
<% end %>
