<h3><%= @title %></h3>

<%= if length(@tests) == 0 do %>
<p><em>no data</em></p>
<% else %>

<div>
  <div id="iortime-tab"></div>
  <div id="iorwrite-tab"></div>
  <div id="iorread-tab"></div>
  <div id="hpltime-tab"></div>
  <div id="hplgflops-tab"></div>
  <div id="hpcgtime-tab"></div>
  <div id="hpcggflops-tab"></div>
  <div id="minidfttime-tab"></div>
  <div id="minidftcpu-tab"></div>
</div>

<%= render Portal.SharedView, "plotjs.html" %>
<script>
var data = <%= {:safe, Poison.encode! @tests} %>;

data.forEach(function(d) {
  const s = d['runmonth'];
  // incredibly, months are zero-indexed
  d.date = new Date(s.slice(0,4), s.slice(4,6) - 1, s.slice(6,8))
});

function chart(data, id, label, field) {
  const p = Plot.plot({
    grid: true,
    x: {
      nice: true,
    },
    y: {
      nice: true,
    },
    marks: [
      Plot.line(data, {
        x: "date",
        y: (d) => field(d),
        filter: (d) => field(d) > 0,
        title: (d) => `${d.date.toDateString()}: ${field(d)}`,
        tip: true,
      }),
    ],
    tooltip: true,
  });

  const div = document.getElementById(id);
  h = document.createElement('h5');
  h.appendChild(document.createTextNode(label));
  div.appendChild(h);
  div.appendChild(p);
}

chart(data, "iortime-tab", "IOR runtime [sec]", d => d.ior_time)
chart(data, "iorwrite-tab", "IOR write [MiB/sec]", d => d.ior_write)
chart(data, "iorread-tab", "IOR read [MiB/sec]", d => d.ior_read)
chart(data, "hpltime-tab", "HPL runtime [sec]", d => d.hpl_time)
chart(data, "hplgflops-tab", "HPL GFLOPS", d => d.hpl_gflops)
chart(data, "hpcgtime-tab", "HPCG runtime [sec]", d => d.hpcg_time)
chart(data, "hpcggflops-tab", "HPCG GFLOPS", d => d.hpcg_gflops)
chart(data, "minidfttime-tab", "MiniDFT runtime [sec]", d => d.minidft_time)
chart(data, "minidftcpu-tab", "MiniDFT cputime [sec]", d => d.minidft_cpu)

</script>

<% end %>

