<h3><%= @conn.params["id"] %></h3>

<%= if length(@tests) > 0 do %>
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <span id="perf-drop-btn-txt">Loading...</span>
  <span class="caret"></span>
  </button>
  <ul id="perf-drop-menu" class="dropdown-menu" role="tablist">
    <li role="presentation" class="active">
      <a href="#iortime-tab" aria-controls="iortime-tab" role="tab" data-toggle="tab">IOR runtime [sec]</a>
    </li>
    <li role="presentation">
      <a href="#iorwrite-tab" aria-controls="iorwrite-tab" role="tab" data-toggle="tab">IOR write [MiB/sec]</a>
    </li>
    <li role="presentation">
      <a href="#iorread-tab" aria-controls="iorread-tab" role="tab" data-toggle="tab">IOR read [MiB/sec]</a>
    </li>
    <li role="presentation">
      <a href="#hpltime-tab" aria-controls="hpltime-tab" role="tab" data-toggle="tab">HPL runtime [sec]</a>
    </li>
    <li role="presentation">
      <a href="#hplgflops-tab" aria-controls="hplgflops-tab" role="tab" data-toggle="tab">HPL GFLOPS</a>
    </li>
    <li role="presentation">
      <a href="#hpcgtime-tab" aria-controls="hpcgtime-tab" role="tab" data-toggle="tab">HPCG runtime [sec]</a>
    </li>
    <li role="presentation">
      <a href="#hpcggflops-tab" aria-controls="hpcggflops-tab" role="tab" data-toggle="tab">HPCG GFLOPS</a>
    </li>
    <li role="presentation">
      <a href="#minidfttime-tab" aria-controls="minidfttime-tab" role="tab" data-toggle="tab">MiniDFT runtime [sec]</a>
    </li>
    <li role="presentation">
      <a href="#minidftcpu-tab" aria-controls="minidftcpu-tab" role="tab" data-toggle="tab">MiniDFT cputime [sec]</a>
    </li>
  </ul>
</div>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="iortime-tab"></div>
  <div role="tabpanel" class="tab-pane" id="iorwrite-tab"></div>
  <div role="tabpanel" class="tab-pane" id="iorread-tab"></div>
  <div role="tabpanel" class="tab-pane" id="hpltime-tab"></div>
  <div role="tabpanel" class="tab-pane" id="hplgflops-tab"></div>
  <div role="tabpanel" class="tab-pane" id="hpcgtime-tab"></div>
  <div role="tabpanel" class="tab-pane" id="hpcggflops-tab"></div>
  <div role="tabpanel" class="tab-pane" id="minidfttime-tab"></div>
  <div role="tabpanel" class="tab-pane" id="minidftcpu-tab"></div>
</div>

<% else %>
<p><em>no data</em></p>
<% end %>

<%= if length(@tests) > 0 do %>
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script>
var data = <%= {:safe, Poison.encode! @tests} %>;
var pernode = typeof data[0].runmonth == "undefined" ? 0 : 1;

function barchart(data, id, field) {
  var pi = Math.PI
  var x2 = d3.scale.linear()
      .range([0, pi])
      .domain([0, d3.max(data, d => field(d))]);

  var svgh = d3.select(id).append("svg")
      .attr("width", 960)
      .attr("height", 500)
      .append("g")
      .attr("transform", "translate(5,20)");

  if(pernode == 1){
    svgh.append("text")
        .attr("x", 5)
        .attr("y", 0)
        .style("font-size","12px")
        .text("mouse over circles to show values")
    svgh.selectAll("circle")
        .data(data)
        .enter()
        .append("circle")
        .attr("cx", (d,i) => {
                       let ii = (i+1)%72
                       if(ii == 0){ ii = 72 }
                       return ii*12
                     })
         .attr("cy", (d,i) => Math.ceil((i+1)/72)*16)
         .attr("r", 6)
         .style("fill", d => d3.hsl(270 - x2(field(d)) * 270 / pi, 1, .5))
         .append("svg:title")
         .text((d,i) => `${d.runmonth}  ${field(d)}`)
  }

  if(pernode == 0){
    var margin = {
        top: 15,
        right: 60,
        bottom: 15,
        left: 60
    };

    var width = 960 - margin.left - margin.right,
        height = 25000 - margin.top - margin.bottom;

    var svg = d3.select(id).append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var x = d3.scale.linear()
        .range([0, width])
        .domain([0, d3.max(data, d => field(d))]);

    var y = d3.scale.ordinal()
        .rangeBands([height, 0],0.2)
        .domain(data.map(d => d.nodename));

    var yAxis = d3.svg.axis()
        .scale(y)
        .tickSize(0)
        .orient("left");

    var gy = svg.append("g")
        .attr("class", "y axis")
        .call(yAxis)

    svgh.append("text")
           .attr("x", 5)
           .attr("y", -1)
           .style("font-size","12px")
           .text("mouse over circles to display values; click on a node to show its historical data.")

    var circles = svgh.selectAll("circle")
        .data(data)
        .enter()

    function nodenum(d){
      return parseInt(d.nodename.substring(3,7));
    }

    circles.append("a")
           .attr("xlink:href", d => `/testjobs/niagara/node/${d.nodename}`)
           .append("circle")
           .attr("cx", d => {
                         let nn = nodenum(d)%72
                         if(nn == 0){ nn = 72 }
                         return nn*12
                       })
           .attr("cy", d => Math.ceil(nodenum(d)/72)*16)
           .attr("r", 6)
           .style("fill", d => d3.hsl(780 - x2(field(d)) * 780 / pi, 1, .5))
           .append("svg:title")
           .text(d => `${d.nodename}  ${field(d)}`)

    var bars = svg.selectAll(".bar")
        .data(data)
        .enter()
        .append("g")

    bars.append("rect")
        .style("fill", "steelblue")
        .attr("class", "bar")
        .attr("y", d => y(d.nodename))
        .attr("height", y.rangeBand())
        .attr("x", 0)
        .attr("width", d => x(field(d)));

    bars.append("text")
        .attr("class", "label")
        .attr("y", d => y(d.nodename) + y.rangeBand() / 2 + 4 )
        .attr("x", d => x(field(d)) + 3 )
        .text(d => field(d));
  }
}

$('#perf-drop-btn-txt').html($('#perf-drop-menu li.active a').text());

barchart(data, "#iortime-tab", d => d.ior_time)
barchart(data, "#iorwrite-tab", d => d.ior_write)
barchart(data, "#iorread-tab", d => d.ior_read)
barchart(data, "#hpltime-tab", d => d.hpl_time)
barchart(data, "#hplgflops-tab", d => d.hpl_gflops)
barchart(data, "#hpcgtime-tab", d => d.hpcg_time)
barchart(data, "#hpcggflops-tab", d => d.hpcg_gflops)
barchart(data, "#minidfttime-tab", d => d.minidft_time)
barchart(data, "#minidftcpu-tab", d => d.minidft_cpu)

$(window).load(function() {
  $('#perf-drop-menu a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
    $('#perf-drop-menu li.active').removeClass('active');
    $(this).parent('li').addClass('active');
    $('#perf-drop-btn-txt').html($(this).text());
  })
});

</script>
<% end %>
